@model StudentsAttendanceWebsite.Models.CreateAndListGroupModel

<style>
    .options {
        width: 20%;
        background-color: aqua;
    }

    .main-part {
        width: 60%;
        text-align: center;
        margin: 20px 10%;
    }

    .main-container {
        display: flex;
        flex-wrap: wrap;
    }

    label, .input-font-size {
        font-size: 20px;
        margin: 0 20px;
        padding-top: 6px;
    }

    .main-content {
        margin: 20px 28%;
        font-size: 20px;
    }

    .lesson-number {
        font-size: 20px;
        padding-top: 8px;
    }

    .number-input {
        width: 200px;
    }

    .code-input {
        width: 150px;
    }

    .class-teacher-input {
        width: 60%;
    }
</style>

<div class="main-container">
    <div class="options">
        @Html.Partial("UserOptions")
    </div>
    <div class="main-part">
        <h2>Редактирование групп</h2>
        @Html.AntiForgeryToken()

        @using (Html.BeginForm("Create", "Groups", null, FormMethod.Post))
        {
            <div style="display:flex;flex-direction:row;width:100%;flex-wrap:wrap;justify-content:center;">
                @Html.LabelFor(model => model.NewGroup.Name, htmlAttributes: new { @class = "" })
                @Html.EditorFor(model => model.NewGroup.Name, new { htmlAttributes = new { @class = "form-control number-input"} })
                <div style="display:flex;flex-direction:row;width:100%;flex-wrap:wrap;justify-content:center;margin:10px 0;">
                    @Html.LabelFor(model => model.NewGroup.FacultyId, htmlAttributes: new { @class = "" })
                    @Html.DropDownListFor(model => model.NewGroup.FacultyId, (SelectList)ViewBag.Faculties, "Выберите факультет", new { @class = "form-control input-font-size class-teacher-input", @style = "height:auto;" })
                </div>
                <input type="submit" value="Добавить" class="btn btn-default" style="margin:10px 0;" />
            </div>
            @Html.ValidationMessageFor(model => model.NewGroup.Name, "", new { @class = "text-danger" })
            @Html.ValidationMessageFor(model => model.NewGroup.FacultyId, "", new { @class = "text-danger" })
        }

        <div class="form-horizontal main-container">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="main-content">
                @for (int i = 0; i < Model.Groups.Count(); i++)
                {
                    <div style="display:flex;flex-direction:row;width:400px;">
                        <div style="margin:10px 0;"> @Html.DisplayFor(model => model.Groups[i].FullName) </div>
                        @using (Html.BeginForm("Delete", "Groups", new { id = Model.Groups[i].Id }, FormMethod.Post))
                        {
                            <input type="submit" value="Удалить" class="btn btn-default" style="margin-left:auto;margin:10px 10px;" />
                        }
                    </div>
                }
            </div>
        </div>
    </div>
</div>