@model StudentsAttendanceWebsite.Models.CreateAndListLessonModel

<style>
    .options {
        width: 20%;
        background-color: aqua;
    }

    .main-part {
        width: 60%;
        text-align: center;
        margin: 20px 10%;
    }

    .main-container {
        display: flex;
        flex-wrap: wrap;
    }

    label, .input-font-size {
        font-size: 20px;
        margin: 0 20px;
        padding-top: 6px;
    }

    .main-content {
        margin: 20px 28%;
        font-size: 20px;
    }

    .lesson-number {
        font-size: 20px;
        padding-top: 8px;
    }

    .number-input {
        width: 200px;
    }

    .code-input {
        width: 150px;
    }

    .class-teacher-input {
        width: 60%;
    }
</style>

<div class="main-container">
    <div class="options">
        @Html.Partial("UserOptions")
    </div>
    <div class="main-part">
        <h2>Редактирование занятий</h2>
        @Html.AntiForgeryToken()

        @using (Html.BeginForm("Create", "Lessons", null, FormMethod.Post))
        {
            <div style="display:flex;flex-direction:row;width:100%;flex-wrap:wrap;justify-content:center;">
                @Html.LabelFor(model => model.NewLesson.Date, htmlAttributes: new { @class = "" })
                <input class="form-control input-font-size class-teacher-input" data-val="true" data-val-date="Поле Дата рождения должно содержать дату."
                       id="NewLesson.Date" name="NewLesson.Date" type="date">
                <div style="display:flex;flex-direction:row;width:100%;flex-wrap:wrap;justify-content:center;margin:10px 0;">
                    @Html.LabelFor(model => model.NewLesson.GroupId, htmlAttributes: new { @class = "" })
                    @Html.DropDownListFor(model => model.NewLesson.GroupId, (SelectList)ViewBag.Groups, "Выберите группу", new { @class = "form-control input-font-size class-teacher-input", @style = "height:auto;" })
                </div>
                <div style="display:flex;flex-direction:row;width:100%;flex-wrap:wrap;justify-content:center;margin:10px 0;">
                    @Html.LabelFor(model => model.NewLesson.SubjectId, htmlAttributes: new { @class = "" })
                    @Html.DropDownListFor(model => model.NewLesson.SubjectId, (SelectList)ViewBag.Subjects, "Выберите предмет", new { @class = "form-control input-font-size class-teacher-input", @style = "height:auto;" })
                </div>
                <div style="display:flex;flex-direction:row;width:100%;flex-wrap:wrap;justify-content:center;margin:10px 0;">
                    @Html.LabelFor(model => model.NewLesson.TeacherId, htmlAttributes: new { @class = "" })
                    @Html.DropDownListFor(model => model.NewLesson.TeacherId, (SelectList)ViewBag.Teachers, "Выберите преподавателя", new { @class = "form-control input-font-size class-teacher-input", @style = "height:auto;" })
                </div>
                <div style="display:flex;flex-direction:row;width:100%;flex-wrap:wrap;justify-content:center;margin:10px 0;">
                    @Html.LabelFor(model => model.NewLesson.ClassroomNumber, htmlAttributes: new { @class = "" })
                    @Html.EditorFor(model => model.NewLesson.ClassroomNumber, new { htmlAttributes = new { @class = "form-control input-font-size class-teacher-input" } })
                </div>
                <input type="submit" value="Добавить" class="btn btn-default" style="margin:10px 0;" />
            </div>
            @Html.ValidationMessageFor(model => model.NewLesson.Date, "", new { @class = "text-danger" })
            @Html.ValidationMessageFor(model => model.NewLesson.ClassroomNumber, "", new { @class = "text-danger" })
            @Html.ValidationMessageFor(model => model.NewLesson.GroupId, "", new { @class = "text-danger" })
            @Html.ValidationMessageFor(model => model.NewLesson.SubjectId, "", new { @class = "text-danger" })
            @Html.ValidationMessageFor(model => model.NewLesson.TeacherId, "", new { @class = "text-danger" })
        }

        <div class="form-horizontal main-container">
            <div class="main-content">
                @for (int i = 0; i < Model.Lessons.Count(); i++)
                {
                    <div style="display:flex;flex-direction:row;width:600px;">
                        <div style="margin:10px 0;"> @Html.DisplayFor(model => model.Lessons[i].FullName) </div>
                        @using (Html.BeginForm("Delete", "Lessons", new { id = Model.Lessons[i].Id }, FormMethod.Post))
                        {
                            <input type="submit" value="Удалить" class="btn btn-default" style="margin-left:auto;margin:10px 10px;" />
                        }
                    </div>
                }
            </div>
        </div>
    </div>
</div>