@model StudentsAttendanceWebsite.Models.CreateAndListFacultyModel

<style>
    .options {
        width: 20%;
        background-color: aqua;
    }

    .main-part {
        width: 60%;
        text-align: center;
        margin: 20px 10%;
    }

    .main-container {
        display: flex;
        flex-wrap: wrap;
    }

    label, .input-font-size {
        font-size: 20px;
    }

    .main-content {
        margin: 20px 28%;
        font-size: 20px;
    }

    .subject-input {
        width: 250px;
        font-size: 20px;
    }
</style>

<div class="main-container">
    <div class="options">
        @Html.Partial("UserOptions")
    </div>
    <div class="main-part">
        <h2>Редактирование факультетов</h2>
        @Html.AntiForgeryToken()

        @using (Html.BeginForm("Create", "Faculties", null, FormMethod.Post))
        {
            <div style="display:flex;flex-direction:row;width:100%;justify-content:center;flex-wrap:wrap;">
                <div style="width:100%;">@Html.LabelFor(model => model.NewFaculty.Name, htmlAttributes: new { @class = "" })</div>
                <div>@Html.EditorFor(model => model.NewFaculty.Name, new { htmlAttributes = new { @class = "form-control subject-input" } })</div>

            </div>
            <input type="submit" value="Добавить" class="btn btn-default" style="margin-top:15px;"/>
            @Html.ValidationMessageFor(model => model.NewFaculty.Name, "", new { @class = "text-danger" })
        }

        <div class="form-horizontal main-container">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="main-content">
                @for (int i = 0; i < Model.Faculties.Count(); i++)
                {
                    using (Html.BeginForm("Delete", "Faculties", new { id = Model.Faculties[i].Id }, FormMethod.Post))
                    {
                        <div style="display:flex;flex-direction:row;width:400px;margin: 15px 0;">
                            <div> @Html.DisplayFor(model => model.Faculties[i].Name) </div>
                            <input type="submit" value="Удалить" class="btn btn-default" style="margin-left:auto;" />
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>